
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Luckiest+Guy&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Danfo&family=Luckiest+Guy&family=Rubik+Iso&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Danfo&family=Luckiest+Guy&family=Nabla&family=Rubik+Iso&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Danfo&family=Honk&family=Luckiest+Guy&family=Nabla:EDPT,EHLT@79,19&family=Rubik+Iso&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Danfo&family=Honk&family=Luckiest+Guy&family=Momo+Trust+Display&family=Nabla:EDPT,EHLT@79,19&family=Rubik+Iso&family=Silkscreen:wght@400;700&display=swap');
/* Vídeo ocupando a tela toda */
#video-fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  /* Corta para cobrir a tela */
  z-index: -1;        /* Fica atrás do conteúdo */
}

/* Conteúdo por cima do vídeo */
.conteudo {
  position: relative;
  z-index: 1;
  color: white;         /* cor do texto em contraste */
  text-align: center;
  padding: 50px;
  background: rgba(0,0,0,0.4); /* fundo semi-transparente para facilitar leitura */
  border-radius: 10px;
  max-width: 800px;
  margin: 100px auto;
 font-family: "Momo Trust Display", sans-serif;
  
}

h1{
   font-family: "Nabla", system-ui;
  font-weight: 400;
  font-style: normal;
   

  }
